body
{
}

.navbar
{
	background-color: #017BB9;
	box-shadow: 0px 1px 6px #999;
	margin-bottom: 40px;
}
.container.wrapper
{
	text-align: center;
}
#title
{
	color: white;
	font-size: 30px;
	font-weight: lighter;
}
#logo
{
	font-size: 30px;
	color: white;
}
.btn
{
	margin-bottom: 30px;
}
.container.chart
{
	margin-bottom: 40px;
}

#time-div, #total-div
{
	text-align: left;
	display: flex;
	flex-direction: row;
}
#txt, #txt2
{
	margin-left: 10px;
}

#div-1
{
	text-align: center;
}

