body
{
}

.navbar
{
	background-color: #017BB9;
	box-shadow: 0px 1px 6px #999;
	margin-bottom: 40px;
}
.container
{
}
#title
{
	color: white;
	font-size: 30px;
	font-weight: lighter;
}
#logo
{
	font-size: 30px;
	color: white;
}

#txt, #txt2
{
	margin-left: 10px;
}

#div-1
{
	text-align: center;
}

#right-pane {
}

#left-pane {
}

