body
{
	background-color: #f9f9f9;
}

.navbar
{
	background-color: #017BB9;
	box-shadow: 0px 1px 6px #999;
	margin-bottom: 40px;
}
#title
{
	color: white;
	font-size: 30px;
	font-weight: lighter;
}
#logo
{
	font-size: 30px;
	color: white;
}
.btn
{
	margin-bottom: 30px;
}
.container.chart
{
	margin-bottom: 40px;
}